---
http_interactions:
- request:
    method: get
    uri: https://oauth.reddit.com/api/v1/me/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer OsSn1vW7nKdD3zM5N4n0sfV1zY8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '596.0'
      X-Ratelimit-Used:
      - '4'
      X-Ratelimit-Reset:
      - '419'
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"is_employee": false, "name": "drod2793", "created": 1485839424.0,
        "oauth_client_id": "ynrkyFVZ-Gm4SQ", "hide_from_robots": false, "is_suspended":
        false, "created_utc": 1485810624.0, "link_karma": 1, "in_beta": false, "comment_karma":
        0, "features": {"live_happening_now": true, "adserver_reporting": true, "give_hsts_grants":
        true, "mweb_xpromo_interstitial_fp_v2": {"owner": "channels", "variant": "speed",
        "experiment_id": 116}, "ads_auto_refund": true, "mweb_xpromo_interstitial_listing_android":
        {"owner": "channels", "variant": "control_1", "experiment_id": 100}, "mobile_web_targeting":
        true, "ads_auction": true, "adzerk_do_not_track": true, "whitelisted_pms":
        true, "show_rules_on_submit_page": {"owner": "commeng", "variant": "control_1",
        "experiment_id": 119}, "sticky_comments": true, "upgrade_cookies": true, "ads_prefs":
        true, "mweb_xpromo_interstitial_listing_ios": {"owner": "channels", "variant":
        "control_2", "experiment_id": 101}, "legacy_search_pref": true, "orangereds_as_emails":
        true, "mweb_xpromo_transparent_fp": {"owner": "channels", "variant": "transparent",
        "experiment_id": 122}, "mweb_xpromo_interstitial_fp_ios": {"owner": "channels",
        "variant": "list", "experiment_id": 99}, "mweb_xpromo_transparent_listing":
        {"owner": "channels", "variant": "transparent", "experiment_id": 121}, "expando_events":
        true, "eu_cookie_policy": true, "utm_comment_links": true, "force_https":
        true, "mobile_native_banner": true, "do_not_track": true, "outbound_clicktracking":
        true, "image_uploads": true, "new_loggedin_cache_policy": true, "mweb_xpromo_interstitial_listing_v2":
        {"owner": "channels", "variant": "embedded", "experiment_id": 117}, "mweb_xpromo_require_login_fp_ios":
        {"owner": "channels", "variant": "control_2", "experiment_id": 127}, "https_redirect":
        true, "screenview_events": true, "pause_ads": true, "programmatic_ads": true,
        "mweb_xpromo_require_login_fp_android": {"owner": "channels", "variant": "login_required",
        "experiment_id": 126}, "new_report_dialog": true, "moat_tracking": true, "subreddit_rules":
        true, "mobile_settings": true, "adzerk_reporting_2": true, "activity_service_write":
        true, "ads_auto_extend": true, "interest_targeting": true, "post_embed": true,
        "seo_comments_page_holdout": {"owner": "content", "variant": "test_group",
        "experiment_id": 68}, "scroll_events": true, "mweb_xpromo_interstitial_fp_android":
        {"owner": "channels", "variant": "list", "experiment_id": 98}, "adblock_test":
        true, "activity_service_read": true}, "over_18": false, "is_gold": false,
        "is_mod": false, "id": "14xe5j", "gold_expiration": null, "inbox_count": 0,
        "has_verified_email": true, "gold_creddits": 0, "suspension_expiration_utc":
        null}'
  recorded_at: Wed, 01 Feb 2017 18:23:01 GMT
recorded_with: VCR 3.0.3
