---
http_interactions:
- request:
    method: get
    uri: https://oauth.reddit.com/r/worldnews?limit=15&type=t3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer zSn1nFwubLBi85pu2cHsSAUSlNo
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '599.0'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Reset:
      - '523'
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=EHbZ7vi6V%2FVYYhekHm046FMJLZg5FZ5gD%2F70WXQEchydW4QrIuwUnYpKlDmKsQZFv8jEdY76r8kEo5tOUUrBkzWrmFjIXdqr
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"modhash": null, "children": [{"kind":
        "t3", "data": {"contest_mode": false, "banned_by": null, "domain": "self.worldnews",
        "subreddit": "worldnews", "selftext_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;Here
        at &lt;a href=\"/r/worldnews\"&gt;/r/worldnews&lt;/a&gt;, readers often report
        certain sites to the moderators, asking them to ban them for their sensationalized
        articles. Wanting to avoid an outright ban, moderators asked me to test an
        idea: what is the effect of encouraging skepticism and fact-checking on frequently-unreliable
        news sources? &lt;/p&gt;\n\n&lt;p&gt;We wanted to see how the &lt;a href=\"/r/worldnews\"&gt;r/worldnews&lt;/a&gt;
        community would respond, and we also wondered what the effect might be on
        reddit&amp;#39;s rankings. In a study of sticky comments from Nov 27 to Jan
        20, here&amp;#39;s the TLDR:&lt;/p&gt;\n\n&lt;ul&gt;\n&lt;li&gt;&lt;p&gt;Within
        discussions of tabloid sub[...]
