---
http_interactions:
- request:
    method: get
    uri: https://oauth.reddit.com/r/worldnews/about/rules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer Qk_Nf-cSlVAG8nZvn1pWuCiLCCM
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '598.0'
      X-Ratelimit-Used:
      - '2'
      X-Ratelimit-Reset:
      - '462'
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=nk2P9pW97BQbhjE%2FQJfx%2BAzpkSZR7r0oGhqdXOTOW1w1MDuRyKoBy%2FmlpNW16JmbtorFSXPbgClwYTmqiRZos7UVMKAkKlFs
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"rules": [{"kind": "link", "description": "Articles about events within
        the US or related to the US internal political process are not allowed here.
        The large subreddits for these topics are /r/news and /r/politics.", "short_name":
        "US Internal News or Politics", "created_utc": 1453813622.0, "priority": 0,
        "description_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;Articles
        about events within the US or related to the US internal political process
        are not allowed here. The large subreddits for these topics are &lt;a href=\"/r/news\"&gt;/r/news&lt;/a&gt;
        and &lt;a href=\"/r/politics\"&gt;/r/politics&lt;/a&gt;.&lt;/p&gt;\n&lt;/div&gt;&lt;!--
        SC_ON --&gt;"}, {"kind": "link", "description": "Do not add opinion/commentary
        to the submission title. Don''t add something[...]
