---
http_interactions:
- request:
    method: get
    uri: https://oauth.reddit.com//subreddits/mine/subscriber
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer OsSn1vW7nKdD3zM5N4n0sfV1zY8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '598.0'
      X-Ratelimit-Used:
      - '2'
      X-Ratelimit-Reset:
      - '85'
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=yu3%2B6yGIbOlCfzCK%2B9fc%2Bd1E3phBmHbI6bLdD9lW%2Flg7BAEMZ05ZXV6n7KoVqt%2B2rws9ApdtRr09V%2BaLLKCvpkKnV%2BS0CZ5o
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"modhash": null, "children": [{"kind":
        "t5", "data": {"banner_img": "", "submit_text_html": null, "user_is_banned":
        false, "wiki_enabled": true, "show_media": true, "id": "2qgzy", "user_is_contributor":
        false, "submit_text": "", "display_name": "sports", "header_img": "http://a.thumbs.redditmedia.com/OG0cMFwrTOQE6Gj5xW2pwTMpjkegILNnJEzHZukZTW4.png",
        "description_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;blockquote&gt;\n&lt;ul&gt;\n&lt;li&gt;&lt;a
        href=\"/u/caindaddy/m/othersports\"&gt;Other Sports&lt;/a&gt;&lt;/li&gt;\n&lt;li&gt;&lt;a
        href=\"/r/archery\"&gt;Archery&lt;/a&gt;&lt;/li&gt;\n&lt;li&gt;&lt;a href=\"http://www.reddit.com/r/badminton\"&gt;Badminton&lt;/a&gt;&lt;/li&gt;\n&lt;li&gt;&lt;a
        href=\"http://www.reddit.com/r/billiards\"&gt;Billiards&lt;/a&gt;&lt;/li&gt;\n&lt;li&gt;&lt;a
        href=\"http://www.reddit.c[...]
